.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.form-field__label {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1rem;
}

.form-field__input {
  padding: 0.25rem 0.625rem !important;
  height: 2rem !important;
  border-radius: 0.5rem !important;
  border: none !important;
  background: rgba(29, 29, 29, 0.15) !important;
  width: auto !important;
}

select.form-field__input {
  font-size: inherit;
  height: 2.5rem !important;
}

select.form-field__input:hover {
  box-shadow: 0 0 10px 2px #8b2635;
}

select.form-field__input:focus {
  box-shadow: 0 0 10px 2px #8b2635;
}
