.App {
    font-family: 'Arial', sans-serif;
}

input[type="text"] {
    padding: 5px 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px 2px #8b2635;
}

input:hover{
    box-shadow: 0 0 10px 2px #8b2635;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon:hover {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #8b2635);
}

.main-page-background {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: end;
}

.main-page-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main-page-content{
    display: flex;
    max-width: 800px;
    width: 90%;
    margin: 100px;
    color: white;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    z-index: 5;
}

h1{
    font-size: 70px;
}

.about-us{
    display: flex;
    padding: 130px 150px 150px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.about-us-content{
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.about-us-content h2{
    font-size: 32px;
    color: #4e000b;
}

.about-us-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-content h3{
    font-size: 20px;
    color: #4e000b;
}

.about-us-text{
    font-size: 18px;
    color: #57000d;
}

.main-page-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
